<%- include("partials/header.ejs") %>

<div>
  <div class="to_overwrite">
    <div class="crazy_grid">
      <span class="border_overwrite"></span>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="player_stats">
    <div>
      <p>Player 1</p>
      <div>Wins 0 Loses 0</div>
    </div>

    <div>
      <p>
        <% if (gamemode === "multiplayer") { %>
        Player 2
        <% } else { %>
        Robot
        <% } %>
      </p>
      <div>Wins 0 Loses 0</div>
    </div>
  </div>
</div>

<%- include("partials/insertScript.ejs") %>

<%- include("partials/footer.ejs") %>