<%- include("partials/header.ejs") %>

<form action="/play" method="POST">
  <p>Game Mode</p>
  <div>
    <input type="radio" id="multiplayer" name="gamemode" value="multiplayer" required />
    <label class="space" for="multiplayer">Local Multiplayer</label>
    <input type="radio" id="robot" name="gamemode" value="robot" />
    <label for="robot">Against Robot</label>
  </div>

  <p>Game Board</p>
  <div>
    <input type="radio" id="normal" name="gameboard" value="  " required />
    <label class="space1" for="normal">Normal 3x3 Grid</label>
    <input type="radio" id="crazy" name="gameboard" value="crazy_grid" />
    <label for="crazy">Crazy 5x5 Grid</label>
  </div>

  <p>Player 1 Go First?</p>
  <div>
    <input type="radio" id="Yes" name="player1turn" value="true" required />
    <label class="space2" for="Yes">Yes</label>
    <input type="radio" id="No" name="player1turn" value="false" />
    <label for="No">No</label>
  </div>

  <div class="center"><input type="submit" value="Play" /></div>
</form>

<script>
  const isStartingPage = "<%= isStartingPage %>";
</script>

<%- include("partials/footer.ejs") %>