.crazy_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 470px;
    height: 470px;
    margin-bottom: 20px;
}

.crazy_grid div {
    border: 5px solid black;
    background-color: #FFF7F1;
    display: flex;
    justify-content: center;
    align-items: center;
}