/* This makes footer to stay at the bottom of the page */
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFF7F1;
}

article {
    flex: 1;
}

/* Header CSS */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #FF9B6A;
    height: 3rem;
}

nav p {
    font-size: 2rem;
}

nav input {
    font-size: 1.5rem;
}

/* Footer CSS */
footer {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FF9B6A;
    height: 2.5rem;
}

footer * {
    display: flex;
    align-items: center;
}

.contacts div p,
.contacts div a {
    margin-left: 10px;
}

.contacts div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin:hover {
    color: #0A66C2;
    background-color: #ffffff;
    cursor: pointer;
}

.github:hover {
    color: #ffffff;
    cursor: pointer;
}

/* Button CSS */
.btn {
    padding: 0 20px;
    border-radius: 15px;
    background-color: #D9D9D9;
}

.btn:hover {
    background-color: #262626;
    color: #ffffff;
    cursor: pointer;
}

/* Form CSS */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form[action="/play"] * {
    font-size: xx-large;
}

form[action="/play"] p {
    margin-bottom: 10px;
}

form[action="/play"] p + div {
    margin-bottom: 30px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background: red;
}

label, input[type="submit"] {
    border-radius: 15px;
    padding: 0 20px;
    background-color: #D9D9D9;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="radio"]:not(:checked) + label:hover {
    background-color: #262626;
    color: #ffffff;
}

.space { margin-right: 130px; }

.space1 { margin-right: 145px; }

.space2 { margin-right: 100px; }