/* This makes footer to stay at the bottom of the page */
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFF7F1;
}

article {
    flex: 1;
}

/* Header CSS */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FF9B6A;
    height: 3rem;
}

nav p {
    font-size: 2rem;
}

nav input {
    font-size: 1.5rem;
}

/* Footer CSS */
footer {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FF9B6A;
    height: 2.5rem;
}

footer * {
    display: flex;
    align-items: center;
}

.contacts div p,
.contacts div a {
    margin-left: 10px;
}

.contacts div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin:hover {
    color: #0A66C2;
    background-color: #ffffff;
    cursor: pointer;
}

.github:hover {
    color: #ffffff;
    cursor: pointer;
}

/* Button CSS */
.btn {
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.btn:hover {
    background-color: #262626;
    color: #ffffff;
    cursor: pointer;
}

/*
Game_Mode class
move to the middle by translating 30% toward the right horizontally and 50% vertically down
positive is down 
*/
.Game_Mode {
    font-size: xx-large;
    transform: translate(30%, 50%);
} 
/*
the layout of the shape surrouding the "Local Mutiplayer" and "Against Robot" 
*/
.Game_Mode label,
.Game_Mode input
{
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-right: 130px;
  padding: 0;
  cursor: pointer;
/* allow mouse to click */
}
/*
remove the radio input button circle
*/
.Game_Mode input[type = "radio"]
{
  display: none;
}
/*
if the input is checked then the label will label with red.
*/
.Game_Mode input[type = "radio"]:checked + label,
.Checked + label
{
    background: red;
}

.Game_Board {
    font-size: xx-large;
    transform: translate(30%,100%);
}
.Game_Board label,
.Game_Board input
{
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-right: 150px;
  padding: 0;
  cursor: pointer;
}
.Game_Board input[type = "radio"]
{
  display: none;
}

.Game_Board input[type = "radio"]:checked + label,
.Checked + label
{
    background: red;
}

.Players_order {
    font-size: xx-large;
    transform: translate(30%,300%);
}

.Players_first
{
    font-size: xx-large;
    transform: translate(35%,300%);
}

.Players_first label,
.Players_first input
{
  width: 100px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-right: 150px;
  margin-left: 70px;
  cursor: pointer;
}
.Players_first input[type = "radio"]
{
    display: none;
}

.Players_first input[type = "radio"]:checked+label,
.Checked+label
{
    background-color: red;
}
.Submit_Button
{
    transform: translate(48%,400%);
    
}
.Submit_Button input 
{
    width: 100px;
    border-radius: 15px;
    background-color: #D9D9D9;
    font-size: xx-large;
    cursor: pointer;
}
.Submit_Button input:hover
{
    background-color: red;
}